#mainSelect {
  width: 300px;
  border-radius: 20px;
  padding: 0.5rem 1rem;
}
#searchBar {
  background-color: #ebf1f4;

  display: flex;
}
#flex_container {
  display: flex;
  justify-content: space-between;
}

.accordion-body {
  padding-left: 2rem;
}
#dl_up_btn {
  text-align: right;
}
.fas {
  font-size: 1.2rem;
  cursor: pointer;
  margin: 0.2rem;
  transition: all 0.2s ease-in-out;
}
.fas:hover {
  color: #0659b2;
}

form {
  padding: 1rem;
}
.accordion-button {
  text-transform: uppercase;
}
/* #stateName {
  text-transform: uppercase;
} */
